@-webkit-keyframes popup{
    0%{
        -webkit-transform: translateX(-1000px);
                transform: translateX(-1000px);
        -webkit-transform: scale(0.3);
                transform: scale(0.3)
    }
    50{
        -webkit-transform: translateX(-500px);
                transform: translateX(-500px);
        -webkit-transform: scale(0.5);
                transform: scale(0.5)
    }
    100%{
        -webkit-transform: translate(-100px 50px);
                transform: translate(-100px 50px);
        -webkit-transform: scale();
                transform: scale()
    }
}

@keyframes popup{
    0%{
        -webkit-transform: translateX(-1000px);
                transform: translateX(-1000px);
        -webkit-transform: scale(0.3);
                transform: scale(0.3)
    }
    50{
        -webkit-transform: translateX(-500px);
                transform: translateX(-500px);
        -webkit-transform: scale(0.5);
                transform: scale(0.5)
    }
    100%{
        -webkit-transform: translate(-100px 50px);
                transform: translate(-100px 50px);
        -webkit-transform: scale();
                transform: scale()
    }
}

body, html{
    padding: 0;
    margin: 0;
    
    font-family: "Roboto", Arial sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
}

a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
}

.visually_hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.main_header{
    background-color:  #eeeeee;
    margin: 0;
    margin-bottom: 80px;
    
}



.container{
    width: 1185px;
    margin: 0 auto;
    padding: 10 0;
}

.main_header .container{
    margin: 0 auto;
}

main{
    margin-top: 0px;
}

.gray_background{
    background-color:  #eeeeee;
}

.main_header .main_navigation{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 50px;
    color: #000000;
    background-color: #eeeeee;
}

.main_navigation a:active{
    opacity: 0.3;
}

.main_navigation_list{
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 570px;
}



.main_navigation_list,
.basket{
    padding: 0;
    margin: 0;
    list-style: none;
}

.basket {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.navigation_item a{
    display: block;
    padding: 0;
}

.navigation_item a,
.basket a{
    display: block;
    padding: 10px 30px;
    font-size: 16px;
    line-height: 30px;
    color: #000000;
    margin-bottom: 0px;
}

.navigation_item a:hover,
.basket a:hover,
.navigation_item a:focus,
.basket a:focus{
    color: #fb565a;
}

.navigation_item a:active,
.basket a:active{
    color: #a6a6a6;    
}

.navigation_current a:active,
.navigation_current a:focus,
.navigation_current a:hover{
    color: #000;
}

.navigation_current{
    position: relative;
}

.navigation_current::after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 30px;
    left: 30px;
    height: 3px;
    background-color: red;
    
}

.slider{
    position: relative;
    width: 1200px;
    height: 410px;
}

.slider > input{
    display: none;
}

.slide{
    width: 100%;
    height: 100%;
    display: none;
}

.controls{
    position: absolute;
    bottom: 85px;
    left: 50%;
}

.controls label{
    cursor: pointer;
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
    margin-left: 15px;
    background-color: white;
    border: 1px solid white;
    border-radius: 50%;
}

#slide1:checked ~ .controls label:nth-child(1)::before,
#slide2:checked ~ .controls label:nth-child(2)::before,
#slide3:checked ~ .controls label:nth-child(3)::before{
    content: "";
    position: absolute;
    top: 6px;
    left: 5px;
    height: 7px;
    width: 7px;
    border: 1px solid #959595;
    border-radius: 50%;
}

#slide1:checked ~ .slide_1,
#slide2:checked ~ .slide_2,
#slide3:checked ~ .slide_3{
    display: block;
}

.slide_content{
    width: 520px;
    height: 345px;
    padding-top: 10px;
    padding-bottom: 80px;
}

.slide_title{
    font-size: 55px;
    line-height: 55px;
}

.slide_text{
    font-size: 16px;
    line-height: 24px;
}

.slide_button,
.contacts .button{
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
    text-align: center;
    background-color: #fb565a;
}

.slider a{
    display: block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 240px;
    height: 50px;
    padding: 15px 20px;
    
}

.slide_button:focus,
.slide_button:hover,
.contacts .button:hover,
.contacts .button:focus{
    background-color: #e74246; 
}

.slide_button:active,
.contacts .button:active{
    color: #e26f72;
    background-color: #d7373b; 
}

.slide_1{
    background-image: url(../img/slide1.png);
    background-repeat: no-repeat;
    background-position: 100% 0%;
}

.slide_2{
    background-image: url(../img/slide2.png);
    background-repeat: no-repeat;
    background-position: 100% 100%;
}

.slide_3{
    background-image: url(../img/slide3.png);
    background-repeat: no-repeat;
    background-position: 100% 100%;
}

.services{
    margin-bottom: 80px;
}

.services_list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
}

.services_list li{
    width: 305px;
}

.services_description{
    margin: 0;
    padding: 0;
    width: 260px;
}

.services_list h3{
    font-size: 24px;
    line-height: 30px;
}

.services .button{
    color: #ffffff;
    text-align: center;
}

.services a{
    display: block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 160px;
    height: 50px;
    padding: 15px 20px;
}

.button_web{
    background-color: #fb565a;
}

.button_web:hover,
.button_web:focus{
    background-color: #e74246;
}

.button_web:active{
    background-color: #d7373b;
    -webkit-box-shadow: 0px 3px 10px 0px black inset;
            box-shadow: 0px 3px 10px 0px black inset;
}

.button_apps{
    background-color: #00ca74;
}

.button_apps:hover,
.button_apps:focus{
    background-color: #00bc6c;
}

.button_apps:active{
    background-color: #00aa62;
    -webkit-box-shadow: 0px 3px 10px 0px black inset;
            box-shadow: 0px 3px 10px 0px black inset;
}

.button_presentation{
    background-color: #ffcc33;
}

.button_presentation:hover,
.button_presentation:focus{
    background-color: #eab534;
}

.button_presentation:active{
    background-color: #e5a722;
    -webkit-box-shadow: 0px 3px 10px 0px black inset;
            box-shadow: 0px 3px 10px 0px black inset;
}
.index_column{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-top: 2px solid #eee;
    padding-top: 80px;
}

.column_left{
    width: 660px;
}

.features{
    width: 360px;
}

.motto b{
    display: block;
    margin: 0;
    margin-bottom: 36px;
    font-size: 45px;
    font-weight: 500;
    line-height: 45px;
}

.custom{
    margin-top: 45px;
}

.custom_list{
    margin: 0;
    padding: 0;
    list-style: inside none;
}

.custom_list li:not(:nth-child(1)){
    padding-top: 30px;
}

.custom_list li::before{
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    width: 25px;
    height: 2px;
    background-color: red;
}

.custom h2{
    text-transform: uppercase;
}

.features h2{
    text-transform: uppercase;
    font-weight:700;
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 44px
}

.features_list{
    margin: 0px;
    padding: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
}

.features b{
    font-size: 45px;
    font-weight: 700;
    line-height: 10.06px;
}

.features_symb{
    vertical-align: super; 
    font-size: 25px;
}

.features p{
    font-weight: 500;
    line-height: 18px;
}

.works{
    margin-top: 76px;
    margin-bottom: 76px;
    border-top: 2px solid #eee;
    border-bottom: 2px solid #eee;

    padding: 50px;
}

.works_list{
    margin: 0;
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center
}

.works_list li{
    opacity: 0.2;
}

.works_list li:focus,
.works_list li:hover {
    opacity: 1;
}

.works_list li:active{
    opacity: 0.1;
}

.contacts{
    background-color: #FFFFFF;
}

.contacts h2{
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
}

.contacts p{
    line-height: 18px;
}

.footer_buttom{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-top: 80px;
}


.social{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0;
    margin-right: 145px;
    list-style: none;
}

.social li{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #eee;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 80px;
    height: 80px;
    margin-right:  15px;
    border-radius: 50%;
}

.social a{
    display: block;
    width: 22px;
    height: 22px;
    background-repeat: no-repeat;
    background-position: center;
}

.social li:nth-of-type(1) a{
    background-image: url(../img/vk-icon.png);
}

.social li:nth-of-type(2) a{
    background-image: url(../img/fb-icon.png)
}

.social li:nth-of-type(3) a{
    background-image: url(../img/insta-icon.png);
}

.social li:hover,
.social li:focus{
    background-color: #e74246;
}

.social li:active{
    background-color: #d7373b;
}

.social li:active a{
    opacity: 0.2;
}

.friends b{
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
}

.write_us{
    position: fixed;
    top: 120px;
    left: 25%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 965px;
    height: 595px;
    right: auto;
    background-color: #fff;
    padding: 75px 85px;
    -webkit-box-shadow: 0px 10px 15px 10px rgba(0,0,0,0.3);
            box-shadow: 0px 10px 15px 10px rgba(0,0,0,0.3);
    display: none;
}

.write_us h2{
    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
}

.write_us span{
    font-weight: 700;
    line-height: 18px;
}

.write_us input,
.write_us textarea{
    display: block;
    font: inherit;
    border: 2px solid #d7dcde;
}

.write_form{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 765px;
}

.write_us input{
    width: 360px;
}


.write_us textarea{
    width: 760px;
    height: 115px;
}

.write_us input:hover,
.write_us textarea:hover{
    border-color: #b4b9bb;
}

.write_us input:focus,
.write_us textarea:focus{
    border-color: #000000;
    outline: none;
}

.write_us input:invalid,
.write_us textarea:invalid{
    border-color: #e74246
}

.write_us .close{
    position: absolute;
    top: 90px;
    right: 105px;
    font-size: 0;
    width: 25px;
    height: 25px;
    background-color: transparent;
    background-image: url(../img/close-cross.svg);
    background-repeat: no-repeat;
    opacity: 0.5;
    border: none;
    background-position: 0 0;
    cursor: pointer;
}

.write_us .close:hover,
.write_us .close:focus{
    opacity: 1;
}

.write_us .close:active{
    opacity: 0.1;
}

.write_us .send,
.filters_button{
    font: inherit;
    font-size: 16px;
    line-height: 18px;
    color: #fff;
    border: none;
    text-transform: uppercase;
    background-color: #fb565a;
    padding: 15px 85px;
}

.write_us .send:hover,
.write_us .send:focus,
.filters_button:hover,
.filters_button:focus{
    background-color: #e74246;
}

.write_us .send:active,
.filters_button:active{
    background-color: #d7373b;
    -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.3) inset;
            box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.3) inset
}

/*inner page!!*/

.inner_page h1{
    display: block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    color: #000000;
    font-size: 55px;
    line-height: 55px;
    padding: 80px;
    padding-left: 220px;
    padding-right: 220px;
    background-color: #eeeeee;
}

.inner_page .main_header{
    margin-bottom: 59px;
}

.inner_column{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.filters{
    margin-top: 20px;
    line-height: 20px;
}

.filters fieldset{
    border: none;
}

.filters ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.filters .filters_legend{
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
}



.filters li{
    margin-bottom: 15px;
}

.filters_item{
    color: #b8b8b8;
    position: relative;
}

.filters_radio::before{
    content: "";
    display: inline-block;
    position: relative;
    padding: 0;
    margin: 0;
    width: 14px;
    height: 14px;
    background-color: #fff;
    border: 2px solid #a6a6a6;
    vertical-align: middle;
    border-radius: 50%;
    margin-right: 6px;
}

.filter_input[type="radio"]:checked ~ label::after{
    content: "";
    position: absolute;
    width: 6px;
    top: 8px;
    left: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #a6a6a6;
}

.filters_check::before{
    content: "";
    display: inline-block;
    position: relative;
    padding: 0;
    margin: 0;
    width: 14px;
    height: 14px;
    background-color: #fff;
    border: 2px solid #a6a6a6;
    vertical-align: middle;
    margin-right: 6px;
}

.filter_input[type="checkbox"]:checked ~ label::after{
    content: "";
    position: absolute;
    width: 4px;
    top: -1px;
    left: 9px;
    height: 14px;
    border-bottom: 3px solid #a6a6a6;
    border-right: 3px solid #a6a6a6;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}

.filter_input:checked+label{
    color: #000000;
}

.filter_input:disabled + label{
    color: #ededed;
}



.filters_button{
    color: #000;
    background-color: #eeeeee;
    text-transform: uppercase;
    line-height: 18px;
    font-family: "Roboto", Arial, sans-serif;
    font-weight: 500;
    text-align: center;
}

.filters_button:hover,
.filters_button:focus{
    background-color: #dfdfdf;
    outline: none;
}

.filters_button:active{
    color: #959595;
    
}

.catalog_list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 760px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.catalog_list{
    margin: 0;
    padding: 0;
    
    list-style: none;
}

.catalog_item{
    position: relative;
    width: 360px;
    margin-right: 20px;
    padding-bottom: 0px;
    padding-top: 40px;
    margin-bottom: 40px;
}

.catalog_item:hover{
    
    -webkit-box-shadow: 0px 5px 15px 0px grey;
    
            box-shadow: 0px 5px 15px 0px grey;
}

.catalog_item::before{
    content: "";
    width: 100%;
    height: 40px;
    position: absolute;
    top: 1px;
    background-image: url(../img/browser.svg);
    opacity: 0.12;
}

.item_description{
    position: absolute;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    bottom: 0px;
    width: inherit;
    padding: 65px;
    padding-top: 30px;
    padding-bottom: 40px;
    background-color: #eee;
    
    display: none;
}



.catalog_item:hover .item_description{
    display: block;
}

.item_description h3{
    padding: 0;
    margin: 0;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
}

.item_description p{
    margin: 20px 0px;
    padding: 0px;
    text-align: center;   
}

.item_description a{
    display: inline-block;
    color: #fff;
    text-align: center;
    padding: 17px 60px;
    margin-left: 15px;
}

.item_description a:hover{
    background-color: #e74246;
}

.item_description a:active{
    background-color: #d7373b;
    -webkit-box-shadow: 0px 3px 10px 0px black inset;
            box-shadow: 0px 3px 10px 0px black inset;
}

.catalog_item:hover::before{
    opacity: 1;
}

.catalog_item:nth-child(2n){
    margin-right: 0px;
}

.pagination_list{
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
   
}

.pagination_list a{
    padding: 0;
    margin: 0;
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
     color: #000000;
    line-height: 18px;
    background-color: #eeeeee;
    text-align: center;
    padding-top: 15px;
    margin-right: 10px;
    min-width: 50px;
    height: 50px;
}

.pagination_list .current a,
.pagination_list .current:hover a,
.pagination_list .current:focus a,
.pagination_list .current:active a{
    border: 5px solid #eee;
    padding-top: 10px;
    background-color: #fff;
}

.pagination_list a:hover,
.pagination_list a:focus{
    background-color: #dfdfdf;
}

.pagination_list a:active{
     color: #959595;
   
}

.pagination_list li:last-of-type a{
    padding: 15px 80px;
}

.pagination_item_current a,
.pagination_item_current a:active,
.pagination_item_current a:hover,
.pagination_item_current a:focus{
    background-color: #ffffff;
    border: 1px solid #eeeeee;
}

.map{
    margin: 0;
    padding: 0;
    margin-bottom: 75px;
    position: relative;
    width: 100%;
    height: 415px;
}

.main_footer .contacts{
    position: absolute;
    top: 55px;
    left: 135px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 325px;
    height: 310px;
    padding: 50px 55px;
}

.conatacts p{
    font-size: 16px;
    line-height: 18px;
    margin: 20px 0px;
    text-align: center;
}



.contacts h2{
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 27px;
}

.button_write{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: inline-block;
    padding: 15px 20px;
    margin-top: 24px;
}

.modal_show{
    display: block;
    -webkit-animation-name: popup;
            animation-name: popup;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
}

.inner_page main{
    margin-bottom: 76px;
}

.range_filter {
  width: 240px; 
    
  text-transform: uppercase;
}

.range_title{
    margin-top: 0px;
    margin-bottom: 58px;
}

.range_controls{
    position: relative;
    height: 80px;
    margin-bottom: 15px;
    padding: 0 30px;
    background: #f1f1f1;
    border-radius: 5px;
    overflow: hidden;
}

.range_controls .scale{
    margin-top: 39px;
    height: 2px;
    background-color: #d7dcde;
}

.range_controls .bar{
    height: 2px;
    background-color: #00ca74;
}

.range_controls .toggle{
    position: absolute;
    top:30px;
    left: 30px;
    width: 4px;
    height: 4px;
    border: 8px solid white;
    background-color: #ababab;
    cursor: pointer;
    border-radius: 50%;
    -webkit-box-shadow: 0 2px 2px 0 #cfcfcf;
            box-shadow: 0 2px 2px 0 #cfcfcf;
}

.range_controls .toggle_max{
    left: 130px;
}

.price_controls{
    position: relative;
    height: 35px
}

.price_controls input{
    width: 60px;
    padding: 8px 10px;
    margin-left: 10px;
    border: none;
    background: #f1f1f1;
    font-family: inherit;
    font-weight: 300;
    font-style: normal;
    text-align: center;
    color: #283136;
    border-radius: 5px;
}

.price_controls .min_price{
    position: absolute;
    left: 0px;
    margin-right: 14px;
}

.price_controls .max_price{
    position: absolute;
    right: 0px;
}

.sort{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    align-items: center;
    
    margin-bottom: 58px;
    
}

.sort_title{
    margin-bottom: 0;
    text-transform: uppercase;
}

.sort_list{
    padding: 0;
    margin: 0;
    margin-top: 20px;
    list-style: none;
}
.sort_list a{
    color: #b2b2b2;
}

.sort_list .sort_option{
    font-size: 14px;
    line-height: 18px;
    display: inline-block;
    margin-right: 30px;
    text-transform: uppercase;
}

.sort_list .sort_current{
    color: black;
}